<hr>
<h4><%= product.name %></h4>
<p><%= truncate product.description %></p>
<button class="js-more" data-id="<%= product.id%>" data-inventory="<%= product.inventory%>" data-description="<%= product.description %>">More Info</button>
